@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: Manrope, sans-serif;
  min-height: 100vh;
}
html,
body {
  margin: 0;
  scroll-behavior: smooth !important;
}
#wrapper {
  overflow: hidden;
  min-height: 100vh;
}
#header {
  z-index: 99;
}

.register_button {
  background: linear-gradient(90deg, #8c6ee7 26.46%, #00ff94 100%);
  color: #000;
  padding: 13px 26px;
  border-radius: 6px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
