.top_navbar {
  background: rgba(0, 0, 0, 0.5411764706);
  height: auto;
  gap: 10px;
}
.top_navbar .nav_row {
  align-items: center;
}
.top_navbar .nav_row .logo_row {
  align-items: center;
}
.top_navbar .nav_row .logo_row .img_custom {
  display: block;
  width: 60%;
  height: auto;
}

#banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.39) 100%), url(../images/hero_img.png) center center/cover no-repeat;
}
#banner .banner_info {
  text-align: center;
  padding: 100px 0;
}
#banner .banner_info h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 31.2px;
  color: #00ff94;
  border: 1px solid rgba(255, 255, 255, 0.2196078431);
  padding: 32px 8px;
  border-radius: 100px;
}
#banner .banner_info h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  color: #8c6ee7;
  padding: 50px 0;
}
#banner .banner_info p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: #ffffff;
}
#banner .banner_info .info_event {
  padding: 40px 0;
}
#banner .banner_info .info_event h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 26.4px;
  text-align: center;
  color: #00ff94;
}
#banner .banner_info .info_event h3 span {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  color: #fff;
}

#course_info {
  margin: 50px 0;
}
#course_info h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
}
#course_info p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #8c6ee7;
}
#course_info .course_info_row {
  margin: 20px 0;
  padding: 60px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  align-items: center;
}
#course_info .course_info_row h3 {
  font-weight: 800;
  color: #8c6ee7;
}
#course_info .course_info_row h4 {
  color: #000000;
  font-weight: 800;
}
#course_info .course_info_row h4 span {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #454545;
}
#course_info .course_info_row .img_custom {
  box-shadow: 13px 10px 0px 3px #00ff94;
  border-radius: 16px;
}
#course_info .register_row {
  justify-content: center;
  background: #fff;
  position: relative;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.1411764706);
  border-radius: 10px;
  margin: 50px 200px;
}
#course_info .register_row:after {
  content: "";
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0px 23px 0px 0px #00ff94;
  z-index: -1;
}
#course_info .register_row h1 {
  padding: 40px 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}
#course_info .register_row p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.400000006px;
  text-align: center;
  color: rgba(5, 18, 56, 0.6);
  padding: 10px 0;
}
#course_info .register_row .register_button {
  width: 100%;
}
#course_info .register_row ::-moz-placeholder {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.400000006px;
  text-align: left;
  color: #939393;
}
#course_info .register_row ::placeholder {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.400000006px;
  text-align: left;
  color: #939393;
}
#course_info .register_row .register_button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

#foundation {
  padding: 60px 0;
  margin: 100px 0;
}
#foundation h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 43.2px;
  text-align: center;
}
#foundation h1 span {
  color: #8c6ee7;
}
#foundation .foundation_row {
  padding: 60px 0;
  margin: 20px 0;
  align-items: center;
}
#foundation .foundation_row h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
}
#foundation .foundation_row h3 span {
  font-weight: 700;
}
#foundation .foundation_row .img_custom {
  box-shadow: 13px 10px 0px 3px #00ff94;
  border-radius: 16px;
}
#foundation .foundation_row_box {
  gap: 15px;
}
#foundation .foundation_box {
  padding: 48px 40px;
  gap: 40px;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
}
#foundation .fa_custom_color {
  color: #00ff94;
  font-size: 35px;
}
#foundation h6 {
  font-weight: 800;
  line-height: 55px;
}
#foundation h3 span {
  font-weight: 800;
}
#foundation p {
  font-weight: 500;
  line-height: 50px;
}
#foundation p span {
  line-height: 50px;
  font-weight: 400;
}
#foundation .ul_padding {
  padding-bottom: 245px;
}
#foundation ul {
  padding-left: 0;
  margin-top: 20px;
}
#foundation ul li {
  list-style: none;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 500;
}
#foundation ul li::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/tick.png) no-repeat;
  background-size: contain;
  left: 0;
  top: 0;
}
#foundation ul li ul li::after {
  background: none;
  font-weight: 700;
}
#foundation .foundation_button {
  background: #00ff94;
  padding: 16px 32px 16px 32px;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.6000000238px;
  text-align: center;
  color: #051238;
}
#foundation .foundation_p {
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.400000006px;
  text-align: center;
  color: #8c6ee7;
}
#foundation .foundation_p span {
  font-weight: 700;
}

#e-book .e_book {
  margin: 110px 0;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
  padding: 50px 100px;
}
#e-book .e_book .e_book_row {
  align-items: center;
}
#e-book .e_book .e_book_row h1 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 800;
  line-height: 43.2px;
  text-align: center;
}
#e-book .e_book .e_book_row h1 span {
  color: #8c6ee7;
}
#e-book .e_book .e_book_row p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.400000006px;
  text-align: center;
}
#e-book .e_book .e_book_row p span {
  font-weight: 700;
}
#e-book .e_book .e_book_row .e_book_img {
  border-radius: 16px;
  width: 100%;
  max-width: 100%;
}
#e-book .btn_modal_open {
  width: 100%;
}
#e-book .btn_close_modal {
  background: #051238;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  color: #00ff94;
  opacity: 1;
  font-weight: 700;
  padding: 15px;
  font-size: 18px;
}
#e-book .modal-header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
}
#e-book .modal-header p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
  color: #0059ff;
}
#e-book .modal-footer {
  border: none;
}
#e-book .modal-header {
  border: none;
}
#e-book .form-control {
  padding: 10px 10px;
}
#e-book .btn_modal {
  color: #000000;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.6000000238px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 6px;
  background: #00ff94;
}

#students_feedback {
  margin: 60px 0px;
}
#students_feedback h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  padding: 50px 0;
}
#students_feedback .students_feedback_row {
  gap: 15px;
}
#students_feedback .students_feedback_row .students_feedback_box {
  border-radius: 16px;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
  padding: 35px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  display: flex;
  flex-direction: column;
}
#students_feedback .students_feedback_row .students_feedback_box .students_feedback_box_text {
  flex-grow: 1;
}
#students_feedback .students_feedback_row .students_feedback_box .students_feedback_box_stars {
  padding: 20px 0;
}
#students_feedback .students_feedback_row .students_feedback_box .student_info {
  display: flex;
  gap: 5px;
}
#students_feedback .students_feedback_row .students_feedback_box .student_info h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
#students_feedback .students_feedback_row .students_feedback_box .student_info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
#students_feedback .students_feedback_row .students_feedback_box .student_info .img_custom {
  width: 75px;
  height: 75px;
}

#about_us {
  text-align: center;
  margin: 100px 0 50px 0;
}
#about_us h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 43.2px;
}
#about_us p {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.400000006px;
  text-align: left;
  color: rgba(5, 18, 56, 0.8);
}
#about_us .about_us_row {
  gap: 50px;
  justify-content: center;
  padding: 100px 0 50px 0;
}
#about_us .about_us_row .about_us_box {
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
  border: 1px solid rgba(5, 18, 56, 0.2);
  border-radius: 16px;
  padding: 30px;
}
#about_us .about_us_row .about_us_box h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  padding: 25px 0;
}
#about_us .about_us_row .about_us_box .img_custom {
  width: 70%;
  padding: 50px;
}

#top_footer {
  background: #220b41;
  height: auto;
  gap: 10px;
}
#top_footer .logo_row {
  align-items: center;
}
#top_footer .logo_row .img_custom {
  display: block;
  width: 90%;
  height: auto;
}/*# sourceMappingURL=styles.css.map */